input[name="usn1"],input[name="usn3"]{
  position:absolute;
  width:30%;
  right:10px;
}
input[name="usn2"],input[name="usn4"]{
  position:absolute;
  width:30%;
  left:10px;
}
input[name="usn3"],input[name="usn4"]{
  position:absolute;
  top:160px;
}
