input[name="usn1"],input[name="usn3"]{
  position:absolute;
  width:30%;
  right:10px;
}
input[name="usn2"],input[name="usn4"]{
  position:absolute;
  width:30%;
  left:10px;
}
input[name="usn3"],input[name="usn4"]{
  position:absolute;
  top:160px;
}
input[name="service"],input[name="fault"],input[name="side out1"],input[name="back out1"]{
  position:absolute;
  width:30%;
  left:10px;
}  
input[name="return in"],input[name="return miss"],input[name="side out2"],input[name="back out2"]{
  position:absolute;
  width:30%;
  right:10px;
}  
input[name="fault"],input[name="return miss"]{
  margin-top:10px;
}
input[name="side out1"],input[name="side out2"]{
  margin-top:20px;
}                   
input[name="back out1"],input[name="back out2"]{
  margin-top:30px;
}
 
